@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");

// Color variables
$primary-color: #2fa8ff;
$secondary-color: #d5edff;
$red-color: #f25f5f;
$yellow-color: #f3c623;
$green-color: #00ff19;
$dark-color: #333333;
$light-dark-color: #6c6c6c;
// $light-color: #ffffff;
$light-color: #fcfcfc;
$semi-med-color: #f5f5f5;
$med-color: #e5e5e5;
$input-text-color: #b2b2b2;

// Animation speed variables
$very-slow-speed: 1.3s;
$slow-speed: 1s;
$med-speed: 0.6s;
$high-speed: 0.3s;
$very-high-speed: 0.2s;

// Container's width variables
$small-width: 50rem;
$med-width: 80rem;
$large-width: 95rem;

// Fonts variables
$libre: "Libre Baskerville", serif;
$montserrat: "Montserrat", sans-serif;
$sen: "Sen", sans-serif;

// Font-weights variables
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$heavy-font: 700;

// Shadow
$shadow: -2px 9px 26px rgba(0, 0, 0, 0.1);
